<div class="modal fade text-left" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сообщение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for message in messages %}
                    {% if message.tags == 'validate' %}
                    <li class="text-error" id="error_block">{{ message|escape }} </li>
                    {% else %}
                    <li><h6
                            {% if message.tags %} class="text-{{ message.tags }}" {% endif %}>{{ message }} </h6>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>