import os
import posixpath

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'pg_game ',
        'USER': 'pg_game_user',
        'PASSWORD': 'pg_game_pass',
        'HOST': 'postgres',
        'PORT': '5432',
    }
}

RADIUS_HOST = ''
RADIUS_SECRET = ''
RADIUS_PORT = 1812
RADIUS_DISABLE = True


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/3.0/howto/static-files/
STATIC_DIR = os.path.join(BASE_DIR, 'sensus/static')
STATIC_ROOT = os.path.join(BASE_DIR, 'sensus/media')
STATIC_URL = '/media/'
STATICFILES_DIRS = [
    STATIC_DIR,
]
