{% extends "layouts/app.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages/authentication.css' %}">
{% endblock %}
{% block body_class %} blank-page {% endblock %}
{% block footer_class %} m-0  {% endblock %}
{% block content %}
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-xl-12 col-12 d-flex justify-content-center">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-12 d-lg-block d-none text-center align-self-center px-1 py-0">
                                <img src="{% static 'images/pages/auth/city.png' %}" alt="APPLESweet logo">
                            </div>
                            <div class="col-lg-12 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Авторизация</h4>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body pt-1">
                                            <form action="{% url 'login' %}" method="post">
                                                {% csrf_token %}
                                                <fieldset
                                                        class="form-label-group form-group position-relative has-icon-left">
                                                    <input type="text" class="form-control" id="user-name"
                                                           placeholder="Логин" required name="username">
                                                    <div class="form-control-position">
                                                        <i class="feather icon-user"></i>
                                                    </div>
                                                    <label for="user-name">Логин</label>
                                                </fieldset>
                                                <fieldset class="form-label-group position-relative has-icon-left">
                                                    <input type="password" class="form-control" id="user-password"
                                                           placeholder="Пароль" required name="password">
                                                    <div class="form-control-position">
                                                        <i class="feather icon-lock"></i>
                                                    </div>
                                                    <label for="user-password">Пароль</label>
                                                </fieldset>
                                                <button type="submit" class="btn btn-primary btn-inline">
                                                    Вход
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
{% endblock %}